[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
sqlalchemy = "*"
pipenv = "*"
selenium = "==4.1.0"

[dev-packages]
autopep8 = "*"
pylint = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
